{% extends 'base.html.twig' %}

{% block title %}Hello EquipmentController!{% endblock %}

{% block body %}
    <div class="col-12 d-flex flex-wrap justify-content-between">

        {% for box in boxes %}
            <div class="col-3 m-3">
                <span>{{ box.name }}</span>
                <div>
                    <a href="{{ path('add_boxes_to_item',{'id':box.id }) }}" class="btn btn-info add">Dodaj do
                        ekwipunku</a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
{% block javascripts %}


    {{ parent() }}
    <script src="{{ asset('assets/js/add_item_to_equipment.js') }}"></script>

{% endblock %}